.tile {
    width: 100%;
    height: 70vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tile_image {
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn_sup {
    position: absolute;
    margin-bottom: 30px;
}

.btn_sup:hover {
    margin-bottom: 25px;
}