.jeu_total {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lien_jeu {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jeu_image {
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.date_jeu {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    color: lightgrey;
    text-decoration: none;
    position: absolute;
    background-color: var(--dark-transparent-color);
    align-self: flex-end;
}

.cadre_sombre {
    background-color: var(--dark-transparent-color);
    height: 10%;
    z-index: 5;
    width: 21.5%;
    position: absolute;
}

.cadre_sombre_texte {
    text-align: center;
    color: lightgrey;
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}


/*NANIMO*/

.video_trailer {
    display: flex;
    align-self: center;
}