/*-------------------------------------------------------MENU--------------------------------------------------------------------*/

.navbar {
    /*CASE*/
    width: 100%;
    /*largeur en pourcentage de la fenêtre du navigateur*/
    height: 130px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--dark-color);
    position: fixed;
    z-index: 5;
}

.navbar nav {
    padding: 0;
    /*décalage vers la droite*/
    margin: 0;
    /*décalage vers le bas*/
    list-style-type: none;
    position: absolute;
    align-self: flex-end;
    margin-top: 20px;
}

.navbar li {
    margin-left: 2.5px;
    margin-right: 2.5px;
    float: left;
    /*pour IE*/
}

.navbar nav li a {
    display: block;
    color: darkgrey;
    /*#DCDCDC;*/
    text-decoration: none;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar nav li a:hover {
    color: var(--light-color);
}


/*------------Prénom-Nom--------------*/

.haut {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-left: 30px;
}

.icone {
    align-self: center;
    position: absolute;
    margin-top: 25px;
    width: 3%;
}

.prénom {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    color: var(--light-color);
    margin: 0px;
    margin-top: 20px;
    margin-left: 80px;
}

.nom {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: var(--light-color);
    margin: 0px;
    margin-top: 20px;
    margin-left: 10px;
}

#marker {
    /*trait soulignage navbar*/
    position: absolute;
    height: 2px;
    width: 0px;
    background: var(--action-color);
    bottom: -4px;
    transition: 0.3s;
    border-radius: 0px;
    z-index: 10;
}

.nom_prénom {
    display: flex;
    flex-direction: row;
}

@media screen and (max-device-width: 650px) {
    .btnMenu {
        color: white;
        background-color: transparent;
        border: transparent;
        width: fit-content;
        margin-top: 40px;
        font-size: 30px;
        margin-right: 40px;
        position: fixed;
        right: 20px;
        z-index: 5;
    }
    .btnOpenMenu {
        transform: rotate(90deg);
    }
    .btnCloseMenu {
        justify-self: flex-end;
        font-size: 40px;
    }
    .haut {
        display: flex;
        justify-content: space-between;
    }
    .prénom {
        margin-left: 0;
        font-size: 30px;
    }
    .nom {
        font-size: 30px;
    }
    .nom_prénom {
        margin-top: 15px;
    }
}

@media screen and (min-device-width: 650px) {
    .btnMenu {
        opacity: 0;
        position: absolute;
        left: -999em;
    }
    .popup {
        opacity: 0;
        display: none;
        position: absolute;
        left: -999em;
    }
}


/*MENU TÉLÉPHONE ---------------------------------------------------------*/

.popup {
    display: none;
    background-color: var(--dark-color);
    color: var(--light-color);
    flex-direction: column;
    align-content: center;
    position: fixed;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    list-style-type: none;
    padding-top: 50px;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup li a {
    display: block;
    color: darkgrey;
    /*#DCDCDC;*/
    text-decoration: none;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    margin-top: 30px;
}