    /*===== VARIABLES CSS =====*/
    
     :root {
        /*========== Colors ==========*/
        --body-color: #020318;
        --text-color-light: #FFF;
        /*========== Font and typography ==========*/
        --body-font: 'Poppins', sans-serif;
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --normal-font-size: .938rem;
        --smaller-font-size: .75rem;
        /*========== Box, Drop & Text Shadow ==========*/
        --box-shadow-inset: inset 0 22px 56px -36px rgba(255, 255, 255, 0.5), inset 0 4px 5px -4px rgba(255, 255, 255, 1), inset 0 -31px 34px -32px rgba(68, 101, 144, 0.3), inset 0 39px 50px -34px rgba(172, 205, 255, 0.3), inset 0 2px 9px rgba(146, 174, 210, 0.3), inset 0 1px 10px rgba(222, 243, 255, 0.2);
        --drop-shadow: 0 0 8px rgba(161, 201, 247, 0.8);
        --text-shadow: 0 0 8px rgba(161, 201, 247, 0.8);
        /*========== Filter Blur ==========*/
        --filter-blur: blur(4px);
    }
    /*========== CARD NEON ==========*/
    
    .neon,
    .neon_container {
        display: grid;
        align-items: center;
    }
    
    .neon {
        padding: 1rem 0;
    }
    
    .neon_container {
        grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
        row-gap: 3.5rem;
        column-gap: 2.5rem;
    }
    
    .neon_card {
        background: rgba(255, 255, 255, 0);
        color: var(--text-color-light);
        box-shadow: var(--box-shadow-inset);
        backdrop-filter: var(--filter-blur);
        padding: 3rem 1.5rem 2rem;
        border-radius: 0rem;
        text-align: center;
    }
    
    .neon_title {
        text-shadow: var(--text-shadow);
        margin-top: 0;
    }
    
    .neon_title {
        font-size: var(--biggest-font-size);
        margin-bottom: .25rem;
        font-family: Poppins;
    }
    
    .neon_text {
        margin: 0;
    }
    
    .neon_image {
        z-index: -5;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        border-radius: 3em;
        filter: blur(4px);
    }