@media screen and (max-device-width: 650px) {
    /*si c'est un téléphone*/
    .row_simple_present {
        width: 95%;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        margin: auto;
    }
    .brick_row {
        height: 7vh;
        margin: 1px 0;
    }
}

@media screen and (min-device-width: 650px) {
    /*si c'est un ordinateur*/
    .row_simple_present {
        width: 95%;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        margin: auto;
    }
    .brick_row {
        height: 11vh;
        margin: 1px 0;
    }
}

.row_simple_fix {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.explication_text_present {
    color: var(--light-color);
    font-family: Poppins;
    font-size: 16px;
    margin: 0;
    text-align: justify;
    margin-left: 3%;
}

.present_big_present {
    /*titre présentation*/
    font-family: Oswald;
    font-size: 60px;
    color: darkgrey;
    font-weight: 700;
    margin: 0;
    margin-left: 4%;
    text-decoration: underline;
}

.present_middle_present {
    /*titre présentation*/
    font-family: Oswald;
    font-size: 40px;
    color: darkgrey;
    font-weight: 700;
    margin: 0;
    margin-left: 3%;
}

.logo_comp {
    margin: 10px;
    object-fit: cover;
    width: auto;
}

.logo_skill {
    margin: 10px;
    object-fit: cover;
    width: 25%;
    display: flex;
    align-self: center;
    margin-bottom: 2px;
}

.line_logo {
    padding: 0 10px;
    white-space: nowrap;
}

.name_skill {
    color: var(--dark-color);
    font-family: Poppins;
    font-size: 13px;
    margin: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.fit_content {
    width: fit-content;
    margin: 0;
}

.certification {
    background-color: var(--dark-action-color);
    width: 100%;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.brick {
    background-color: var(--dark-action-color);
    width: 30%;
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 1px;
    padding: 0 3%;
    transition: 0.3s;
}

.brick:hover {
    width: 25%;
    padding: 0 3%;
    height: 9vh;
    margin: 0 5%;
    margin-top: 1vh;
}

.brick_container {
    margin-top: 0px;
    width: 100%;
}

.section_container {
    background-color: var(--dark-transparent-color2);
    padding: 10px;
}