    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
    /*---------------------------------------------------- VARIABLES COULEURS --------------------------------------------------------------------*/
    
    body {
        margin: 0 auto;
        background: repeat url(../img/fond.png);
        background-size: 35%;
        background-color: #111111fd;
        --action-color: rgb(44, 174, 184);
        --dark-action-color: rgba(85, 173, 179, 0.623);
        /*rgb(16, 208, 222) for the blue turquoise*/
        --dark-color: rgb(5, 5, 12);
        --dark-transparent-color: rgba(0, 0, 0, 0.8);
        --dark-transparent-color2: rgba(0, 0, 0, 0.4);
        --light-color: lightgrey;
    }
    /*----------------------------------------------------RESPONSIVE TÉLÉPHONE--------------------------------------------------------------------*/
    
    @media screen and (max-device-width: 650px) {
        .delete {
            width: 0;
            height: 0;
            opacity: 0;
            display: none;
        }
        .present_bande {
            display: flex;
            margin: 0;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 50vh;
            padding-top: 10vh;
        }
        .row_simple {
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-left: 3.5%;
            margin-right: 3.5%;
        }
        .couverture {
            width: 100%;
        }
        .lien_image {
            width: 100%;
        }
        .include_navbar {
            height: 101vh;
        }
        .present_date {
            font-size: 25px;
        }
        .present_text {
            font-size: 25px;
        }
        .presentation_category {
            padding-top: 0;
        }
    }
    
    @media screen and (min-device-width: 650px) {
        .present_bande {
            display: flex;
            margin: 0;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 90vh;
        }
        .row_simple {
            margin-top: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            margin-left: 3.5%;
            margin-right: 3.5%;
        }
        #half {
            max-width: 50%;
            min-width: 48%;
        }
        .half {
            max-width: 50%;
            min-width: 48%;
        }
        #deuxtiers {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .deuxtiers {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #tiers {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
        }
        .tiers {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
        }
        .couverture {
            width: 100%;
        }
        .include_navbar {
            height: 70px;
        }
        .present_date {
            font-size: 16px;
        }
        .present_text {
            font-size: 16px;
        }
        .presentation_category {
            padding-top: 100px;
        }
    }
    /*----------------------------------------------------GÉNÉRAL--------------------------------------------------------------------*/
    
    html {
        scroll-behavior: smooth;
    }
    
    .transparent {
        opacity: 0;
    }
    /*IMPORTATION HTML DANS UN AUTRE FICHIER*/
    
    .include {
        /*importation d'un bout d'html*/
        border: none;
        width: 100%;
    }
    
    .include_menu {
        height: 100vh;
        position: fixed;
        scroll-behavior: unset;
    }
    
    .fix {
        position: fixed;
        z-index: 5;
    }
    
    .ft {
        background-color: #0d0d0d00;
        /*couleur transparente*/
        background: none;
        margin: 0;
        padding: 0;
    }
    /*IMPORTATION HTML DANS UN AUTRE FICHIER FIN*/
    /*---------------------------------------- TEXTES -----------------------------------------------*/
    
    .presentation_text {
        color: var(--light-color);
        font-family: Poppins;
        font-size: 16px;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 0;
        padding-top: 120px;
        margin-bottom: 60px;
        text-align: center;
    }
    
    .explication_text {
        color: var(--light-color);
        font-family: Poppins;
        font-size: 16px;
        text-align: justify;
    }
    
    .lien {
        color: var(--action-color);
        text-decoration: underline;
    }
    
    b {
        /*POUR SURLIGNER LE TEXTE*/
        background-color: var(--dark-action-color);
    }
    /*---------------------------------------- CASES -------------------------------------------------*/
    
    #start {
        padding-top: 100px;
    }
    
    .column_simple {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .column_space {
        width: 10%;
        height: 100%;
    }
    
    .espace {
        width: 100%;
        height: 100px;
    }
    
    .left {
        display: flex;
        align-self: flex-start;
        justify-content: flex-start;
    }
    
    .center {
        display: flex;
        justify-content: center;
    }
    
    .cadre_present {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    
    .gallerie_image {
        /*border-radius: 50px;*/
        width: 100%;
        align-self: center;
    }
    
    .galerie_photo {
        /*border-radius: 50px;*/
        width: 100%;
        align-self: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .galerie_graphisme {
        width: 100%;
        align-self: center;
        margin: 0;
        padding: 0;
    }
    
    .galerie {
        margin-left: 100px;
        margin-right: 100px;
    }
    /*----------------------------------------------------BANDES--------------------------------------------------------------------*/
    /*------------PRESENT--------------*/
    
    .present_title {
        font-family: Poppins;
        font-size: 20px;
        color: darkgrey;
        font-weight: 600;
        margin: 0;
    }
    
    .present_big {
        /*titre Alvina DR*/
        font-family: Oswald;
        font-size: 120px;
        color: darkgrey;
        font-weight: 700;
        margin: 0;
    }
    
    .present_text {
        font-family: Poppins;
        color: darkgrey;
        font-weight: 600;
        margin: 0;
        background-color: var(--dark-action-color);
    }
    
    .contour {
        color: #ffffff00;
        /*couleur transparente pour laisser le clignotement de la barre d'écriture invisible sur les animations*/
    }
    
    .present_date {
        font-family: Poppins;
        color: var(--action-color);
        font-weight: 600;
        margin: 0;
        opacity: 0.8;
    }
    /*------------PHOTOMONTAGE--------------*/
    
    .presentation_category
    /*CASE*/
    
    {
        display: flex;
        margin: auto;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        width: 90%;
    }
    
    .lien_image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
    }
    
    .couverture {
        opacity: 1;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    
    .category_title {
        font-family: Poppins;
        font-size: 25px;
        font-weight: 550;
        color: rgb(161, 161, 161);
        text-decoration: none;
        margin-top: 10px;
        align-self: center;
    }
    /*------------------------------------------------------ RÉSEAUX SOCIAUX -----------------------------------------------*/
    
    .index {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0px;
        padding-top: 200px;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /* CARD */
    /*----------------------------------------------------------------------------------------------------------------*/
    
    .card {
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    
    .card:hover .data {
        transform: translateY(0);
    }
    
    .card .data {
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(calc(70px + 1em));
        transition: transform 0.3s;
    }
    
    .card .data .content {
        padding: 1em;
        position: relative;
        z-index: 1;
    }
    
    .card .text {
        height: 70px;
        margin: 0;
        color: rgb(161, 161, 161);
        font-family: Poppins;
    }
    
    .card .content {
        /*Background du texte explicatif de la carte qui doit être transparent*/
        background-color: var(--dark-transparent-color);
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /* FOLDER */
    /*----------------------------------------------------------------------------------------------------------------*/
    
    .folder_project_link {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 700;
        color: var(--dark-color);
        text-decoration: none;
        position: absolute;
        background-color: var(--light-color);
        margin: 5px;
        margin-top: 30px;
        margin-left: -5px;
        padding: 5px 15px;
        padding-left: 20px;
        align-self: flex-start;
        transition: 0.3s;
    }
    
    .folder_project_link:hover {
        color: var(--light-color);
        background-color: var(--action-color);
        padding-right: 20%;
    }
    
    .folder_total {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: auto;
    }
    
    .folder_image {
        opacity: 0.9;
        width: 100%;
    }
    
    .folder_link {
        width: 100%;
        display: flex;
        margin: 20px;
        align-self: center;
        justify-self: center;
    }
    
    .folder_subtitle {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        color: var(--light-color);
        text-decoration: none;
        position: absolute;
        background-color: var(--dark-transparent-color);
        /*un peu transparent*/
        align-self: flex-end;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /* SQUARE */
    /*----------------------------------------------------------------------------------------------------------------*/
    
    .square_line {
        /*ligne de trois projets*/
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .square {
        /*case de un projet*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .square:hover {
        /*quand on passe par-dessus la case d'un projet, l'image perd en opacité*/
        opacity: 0.85;
    }
    
    .square_image {
        /*image de la case d'un projet*/
        width: 95%;
        transition: 0.3s;
    }
    
    .square_image:hover {
        /*image de la case d'un projet*/
        width: 90%;
    }
    
    .btn {
        padding: 10px;
        background-color: var(--light-color);
        color: var(--dark-color);
        text-decoration: none;
        font-family: Poppins;
        margin: 5px;
        margin-right: 30px;
        font-weight: 700;
        transition: 0.3s;
        white-space: nowrap;
    }
    
    .btn:hover {
        padding: 15px;
        background-color: var(--action-color);
        color: var(--light-color);
        margin: 0;
        margin-right: 25px;
    }