@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

/*----------------------------------------------------GÉNÉRAL--------------------------------------------------------------------*/

body {
    margin: 0 auto;
    background: repeat url(../RESSOURCES/fond.png);
    background-size: 35%;
    background-color: #111111fd;
}

html {
    scroll-behavior: smooth;
}

.transparent {
    opacity: 0;
}

.fin_de_page {
    /*CASE*/
    width: 100%;
    /*largeur en pourcentage de la fenêtre du navigateur*/
    height: 400px;
    background-color: darkgrey;
}


/*IMPORTATION HTML DANS UN AUTRE FICHIER*/

.include {
    /*importation d'un bout d'html*/
    border: none;
    width: 100%;
}

.fix {
    position: fixed;
    z-index: 5;
}

.ft {
    background-color: #0d0d0d00;
    background: none;
    margin: 0;
    padding: 0;
}

.include_navbar {
    height: 70px;
}


/*IMPORTATION HTML DANS UN AUTRE FICHIER FIN*/

#marker {
    position: absolute;
    height: 2px;
    width: 0px;
    background: #DE6110;
    bottom: -4px;
    transition: 0.3s;
    border-radius: 0px;
    z-index: 10;
}


/*---------------------------------------- TEXTES -----------------------------------------------*/

.presentation_text {
    color: lightgrey;
    font-family: Poppins;
    font-size: 16px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    padding-top: 120px;
    margin-bottom: 60px;
    text-align: center;
}

.explication_text {
    color: lightgrey;
    font-family: Poppins;
    font-size: 16px;
    text-align: justify;
}

.link_text {
    background-color: lightgrey;
    color: #111111;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.lien {
    color: #DE6110;
    text-decoration: underline;
}

b {
    /*POUR SURLIGNER LE TEXTE*/
    background-color: #de621088;
}


/*---------------------------------------- CASES -------------------------------------------------*/

.row_simple {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

#start {
    padding-top: 100px;
}

.column_simple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

#half {
    max-width: 50%;
    min-width: 48%;
}

#deuxtiers {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tiers {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}

.column_space {
    width: 2%;
    height: 100%;
}

.espace {
    width: 100%;
    height: 100px;
}

.left {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
}

.cadre_present {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.gallerie_image {
    /*border-radius: 50px;*/
    width: 100%;
    align-self: center;
}

.galerie_photo {
    /*border-radius: 50px;*/
    width: 100%;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

.galerie_graphisme {
    width: 100%;
    align-self: center;
    margin: 0;
    padding: 0;
}

.galerie {
    margin-left: 100px;
    margin-right: 100px;
}


/*----------------------------------------------------BANDES--------------------------------------------------------------------*/


/*------------PRESENT--------------*/

.present_bande {
    display: flex;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.present_title {
    font-family: Poppins;
    font-size: 20px;
    color: darkgrey;
    font-weight: 600;
    margin: 0;
}

.present_big {
    /*titre Alvina DR*/
    font-family: Oswald;
    font-size: 120px;
    color: darkgrey;
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 150px;
}

.present_text {
    font-family: Poppins;
    font-size: 16px;
    color: darkgrey;
    font-weight: 600;
    margin: 0;
    background-color: #de621054;
}

.contour {
    color: #ffffff00;
}

.present_date {
    font-family: Poppins;
    font-size: 16px;
    color: #DE6110;
    font-weight: 600;
    margin: 0;
    opacity: 0.8;
}


/*------------PHOTOMONTAGE--------------*/

.presentation_category
/*CASE*/

{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px;
    width: 90%;
}

.lien_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.couverture {
    opacity: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.category_title {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 550;
    color: rgb(161, 161, 161);
    text-decoration: none;
    margin-top: 10px;
    align-self: center;
}


/*------------------------------------------------------ RÉSEAUX SOCIAUX -----------------------------------------------*/

.index {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 200px;
}


/*----------------------------------------------------------------------------------------------------------------*/


/* CARD */


/*----------------------------------------------------------------------------------------------------------------*/

.card {
    overflow: hidden;
    position: relative;
}

.card:hover .data {
    transform: translateY(0);
}

.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
}

.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}

.card .text {
    height: 70px;
    margin: 0;
    color: rgb(161, 161, 161);
    font-family: Poppins;
}

.card .content {
    /*Background du texte explicatif de la carte*/
    background-color: rgba(0, 0, 0, 0.801);
}


/*----------------------------------------------------------------------------------------------------------------*/


/* FOLDER */


/*----------------------------------------------------------------------------------------------------------------*/

.folder_project_link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: absolute;
    background-color: lightgrey;
    margin: 5px;
    margin-top: 30px;
    margin-left: -5px;
    padding: 5px 15px;
    padding-left: 20px;
    align-self: flex-start;
    transition: 0.3s;
}

.folder_project_link:hover {
    color: lightgrey;
    background-color: #DE6110;
    padding-right: 200px;
}

.folder_total {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: auto;
}

.folder_image {
    opacity: 0.9;
    width: 100%;
}

.folder_link {
    width: 100%;
    display: flex;
    margin: 20px;
    align-self: center;
    justify-self: center;
}

.folder_subtitle {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    color: lightgrey;
    text-decoration: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.61);
    align-self: flex-end;
}


/*----------------------------------------------------------------------------------------------------------------*/


/* SQUARE */


/*----------------------------------------------------------------------------------------------------------------*/

.square_line {
    /*ligne de trois projets*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.square {
    /*case de un projet*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.square:hover {
    /*quand on passe par-dessus la case d'un projet, l'image perd en opacité*/
    opacity: 0.85;
}

.square_image {
    /*image de la case d'un projet*/
    width: 95%;
    transition: 0.3s;
}

.square_image:hover {
    /*image de la case d'un projet*/
    width: 90%;
}